<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Using plain html in Pug</title> -->
    <title>#{title}</title>                     

    style                                      
        include ../static/style.css

</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </nav>

    <div class="container">
        <h2>Get this gym membership for 60$ - Fill this form now!</h2>
        <!-- <p> 
            | #{content}                        
            | This is a plain html using pug 
        </p> -->

        <form action="/" method="post" id="contact">                    <!-- method has to be post not get-->
            <input type="text" name="name" id="name" placeholder="Enter your name">
            <input type="text" name="age" id="age" placeholder="Enter your age">
            <input type="text" name="gender" id="gender" placeholder="Enter your gender">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address"></textarea>
            <textarea name="more" id="more" cols="30" rows="10" placeholder="More about you.."></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>
</body>
</html>


//-* We use #{variable_name} to include variable from JS  -- Line 7
 //-! This is way to include css in pug  -- Line 9
//-* In an empty line we cannot directly use #{} for that including |(pipeline) is mandatory! with proper indentation -- Line 25