/** CSS Reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/** Css Variables */
:root{
    --primary-color: #E5F64B;                               /* Color Palette for this website */
    --black-color: #101010;
    --green-color: #57BE6C;
    --shady-white-color: #FAFCFE;
    --white-color: #FFFFFF;
}

/** Navigation bar */
.navbar{
    display: flex;
    border: 1px solid red;
    align-items: center;
    height: 44px;
}
#logo{
    font-size: 2.25rem;
    margin-left: 40px;
    font-family: 'Caveat', cursive;
    display: inline-block;
}
#logo:hover{
    text-shadow:-1px -1px 3px red, 2px 3px 4px cyan;
    transform: scale(1.1);
}
.navbar ul{
    display: flex;
    margin: auto;
}
.navbar ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    font-size: 1.20rem;
}
.navbar ul li a{
    text-decoration: none;
    font-family: 'Joan', serif;
    font-family: 'PT Serif', serif;
    color: black;
    position: relative;
}
.navbar ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.navbar ul li a:hover::after{
    transform: scale(1);
    transform-origin: left;
}

/** Navbar Login Button */
#ndb{
    margin-right: 50px;
}
.navbar button{
	text-decoration:none;
    width: 82px;
    height: 32px;
    font-family: 'PT Serif', serif;
	font-size:14px;
    font-weight: 500;
	cursor:pointer;
    border-radius: 23px;
    color: black;
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
/* .navbar button  */
.navbar button:hover {
    background-color: black;
    color: white;
    transition: all 0.5s ease 0s;
}


